EIO:CFG_1.0:6:1::
#
SYSSIG_OUT:

      -Status "TCPSpeed" -Signal "VelTCP" -Arg1 "ROB_1"
#
EIO_SIGNAL:

      -Name "VelTCP" -SignalType "AO" -Size 32

      -Name "MARCHA" -SignalType "DO" -Access "All"
